<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Transaction</title>
</head>
<body>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ titleModal }}</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure that you want to remove this trade?</br>
            This change can't be reversed.
        </p>
        </br>
        <a type="button" href="/trading/delete/{{ idTrade }}" class="btn btn-primary">
            Delete
        </a>
        <a type="button" href="/trading" class="btn btn-default">
            Cancel
        </a>
    </div>
</div>
</body>
</html>
