<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>

    <script type="text/javascript" src="/static/js/actionFunctions.js"></script>
    <script type="text/javascript" src="/static/js/rate-calculation.js"></script>
</head>
<body>
<h3>Booked trades</h3>
<a type="button" href="/trading/new" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    New Trade
</a>
<div id="transactions_table">
    {% if transaction_list %}
        <table id="transactions" class="table-bordered">
            <tr bgcolor="#7fffd4"> 
                <td>Sell CCY</td>
                <td>Sell Amount</td>
 
                <td>Buy CCY</td>
                <td>Buy CCY</td>
                <td>Rate</td>
                <td>Date Booked</td>
                <td>Actions</td>
            </tr>
            {% for singleTrade in transaction_list %} 
                <tr> 
                    <td>{{ singleTrade.sell_currency.currency_code }}</td>
                    <td>{{ singleTrade.sell_amount }}</td>
                    <td>{{ singleTrade.buy_currency.currency_code }}</td>
                    <td>{{ singleTrade.buy_amount }}</td>
                    <td>{{ singleTrade.rate }}</td>
                    <td>{{ singleTrade.date_booked }}</td>
                    <td> 
                        <a href="/trading/edit/{{ singleTrade.id }}" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-edit"></i></a>/ 
                        <a href="/trading/deleteModal/{{ singleTrade.id }}" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-remove"></i></a> 
                    </td>
 
                </tr> 
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if transaction_list.has_previous %}
                    <a href="/trading?page={{ transaction_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ transaction_list.number }} of {{ transaction_list.paginator.num_pages }}.
                </span>

                {% if transaction_list.has_next %}
                    <a href="/trading?page={{ transaction_list.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No transactions found!!!</p>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <!--Load formulary of web page transaction.html-->
            </div>
        </div>
    </div>
</div>

</body>
</html>
