<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>

    <script type="text/javascript" src="/static/js/actionFunctions.js"></script>
    <script type="text/javascript" src="/static/js/rate-calculation.js"></script>
</head>
<body>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ titleModal }}</h4>
    </div>
    <div class="modal-body">
        <form action="/trading/{{ action }}" method="POST">
        {% csrf_token %}
            Sell Currency:
            <input id="input_sell" name="sell_currency" value="{{ sellCurrency.currency_code }}" hidden>
            <select id="sell_selector" onchange="calculation()">
                <option value="empty"></option>
                {% for currency in currencies %}
                    {% if sellCurrency.currency_code == currency.currency_code %}
                        <option value="{{ currency.currency_code }}" selected="selected">
                            {{ currency.currency_code }}
                        </option>
                    {% else %}
                        <option value="{{ currency.currency_code }}">
                            {{ currency.currency_code }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <br/>
            Sell Amount:
            <input name="sell_amount" id="sell_fee" value="{{ sellAmount }}"
                   onkeyup="buyAmountCalculation()"><br/>
            Buy Currency:
            <input id="input_buy" name="buy_currency" value="{{ buyCurrency.currency_code }}" hidden>
            <select id="buy_selector" onchange="calculation()">
                <option value="empty"></option>
                {% for currency in currencies %}
                    {% if buyCurrency.currency_code == currency.currency_code %}
                        <option value="{{ currency.currency_code }}" selected="selected">
                            {{ currency.currency_code }}
                        </option>
                    {% else %}
                        <option value="{{ currency.currency_code }}">
                            {{ currency.currency_code }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <br/>
            Buy Amount:
            <input name="buy_amount" id="buy_fee" value="{{ buyAmount }}" readonly><br/>
            Rate:
            <input id="rate_currency" type="text" name=rate value="{{ rate }}" readonly><br/><br/>
            <input class="btn btn-primary" type=submit name="submitted" value="{{ actionButton }}">
            <input class="btn btn-default" type="submit" name="submitted" value="Cancel">
        </form>
    </div>
</div>
</body>
</html>
